.landing_background {
  background-image: url('../../../assets/landing_background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100vw;
}
